<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title header-form">Add Article</h5>
          <form [formGroup]="articleForm" (submit)="SaveArticle()">
            <div class="row space">
              <div class="col-6">
                <div class="row">

                  <div class="col-12">
                    <div class="form-group">
                      <label class="form-control-label">Article Title</label>
                      <select class="hideLabel form-control" formControlName="MasterID">
                        <option selected="0" value="0">---Select Article Master---</option>
                        <option *ngFor="let artm of articleMaster" value={{artm.MasterID}}>
                          {{ artm.ArticlesType }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">
                      <label class="form-control-label">Article Sub Title</label>
                      <select class="hideLabel form-control" formControlName="ArticleSubTypeID">
                        <option selected="0" value="0">---Select Article Master---</option>
                        <option *ngFor="let artsm of articleSubMaster" value={{artsm.ArticleSubTypeID}}>
                          {{ artsm.ArticlesSubType }}
                        </option>
                      </select>
                    </div>
                  </div>



                  <div class="col-12">
                    <div class="form-group">
                      <label class="form-control-label">Article Title</label>
                      <input type="text" class="form-control" formControlName="ArticleTitle">
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">
                      <label class="form-control-label">Article Description</label>
                      <p-editor formControlName="ArticleDescription" [style]="{'height':'120px'}"></p-editor>
                    </div>
                  </div>

                  
                  <div class="col-12">
                    <div class="form-group">
                      <label class="form-control-label">Extrenal Link</label>
                      <input type="text" class="form-control" formControlName="Source">
                    </div>
                  </div>


                  <div class="col-6">
                    <div class="form-group">
                      <label class="form-control-label">Post Date</label>
                      <input type="text" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" class="form-control"
                                  formControlName="ArticleDate">
                      
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="form-group">
                      <label class="form-control-label">Publisher Details</label>
                      <input type="text" class="form-control" formControlName="Author">
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="form-group">
                      <label class="form-control-label">Select date to set priority* (Speaker with Latest date comes
                        first on the website)</label>
                        <input type="text" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" class="form-control"
                                  formControlName="ArticlePriority">
                     
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label class="form-control-label">Status</label>
                      <select class="form-control" formControlName="Status">
                        <option>Active</option>
                        <option>InActive</option>
                      </select>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <input type="submit" class="btns save-button" value="Save" />
                <a routerLink="/admin/article" class="btns cancel-button">Cancel</a>
              </div>
            </div>
          </form>
          <div>
            Valid: {{articleForm.valid}}
          </div>
          <pre>
              {{articleForm.value|json}}              
            </pre>
        </div>
      </div>
    </div>
  </div>
</div>